<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <!--Breadcrumb-->
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">首页</a>
                    <a class="breadcrumb">资料</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="images/profile.jpg" alt="" class="circle"/>
                <span class="title" ><span sec:authentication="name"></span>(已登录)</span>
                <p th:text="'现居 '+${user.area}">City</p>
                <p th:text="'喜欢 '+${user.interestsString}">Interests</p>
                <a href="/profile/modify" class="secondary-content">修改资料</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <form th:action="@{/logout}" method="post">
            <button class="waves-effect waves-light btn-small red white-text" type="submit">注销登录</button>
        </form>
    </div>
</div>

<script layout:fragment="script">
</script>
</body>
</html>