<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>View News</title>
</head>
<body>

<div class="row" layout:fragment="content">

    <!--Breadcrumb-->
    <div class="row container">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">首页</a>
                    <a class="breadcrumb">最新新闻</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row container">
        <div class="col s12 m6" th:each="news:${newsList}">
            <div class="card indigo darken-2 small hoverable" style="max-height: 20%;">
                <div class="card-content white-text">
                    <span class="card-title" th:text="|[${news.category}] ${news.title}|">Card Title</span>
                    <p th:text="${news.newsAbstract}">Card Description</p>
                </div>
                <div class="card-action">
                    <a th:href="|/viewNews/${news.id}|">Details</a>
                </div>
            </div>
        </div>
    </div>

    <ul class="pagination center" th:object="${pagination}">
        <li class="active"><a th:href="'/viewNews'"><i class="material-icons">skip_previous</i></a></li>
        <li th:if="${pagination.hasPrevious}" class="active"><a th:href="'/viewNews?page='+${pagination.previousPage}"><i class="material-icons">navigate_before</i></a></li>
        <li th:if="${!pagination.hasPrevious}" class="disabled"><a><i class="material-icons">navigate_before</i></a></li>
        <!--<li class="active"><a th:href="'/viewNews?page='+(${curPage}-1)"><i class="material-icons">chevron_left</i></a></li>-->
        <li th:each="prevPage : ${pagination.previousPages}" class="waves-effect"><a th:href="'/viewNews?page='+${prevPage}" th:text="${prevPage}"></a></li>
        <li class="active"><a th:text="${pagination.currentPage}"></a></li>
        <li th:each="nextPage : ${pagination.nextPages}" class="waves-effect"><a th:href="'/viewNews?page='+${nextPage}" th:text="${nextPage}"></a></li>

        <li th:if="${pagination.hasNext}" class="active"><a th:href="'/viewNews?page='+${pagination.nextPage}"><i class="material-icons">navigate_next</i></a></li>
        <li th:if="${!pagination.hasNext}" class="disabled"><a><i class="material-icons">navigate_next</i></a></li>
        <li class="active"><a th:href="'/viewNews?page='+${maxPage}"><i class="material-icons">skip_next</i></a></li>
    </ul>

</div>

</body>
</html>