<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>View News</title>
</head>
<body>

<div class="row" layout:fragment="content">

    <!--Breadcrumb-->
    <div class="row container">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">首页</a>
                    <a class="breadcrumb">最新</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="row container">
        <div class="col s12 m6" th:each="news:${newsList}">
            <div class="card indigo darken-2 small" style="max-height: 20%;">
                <div class="card-content white-text">
                    <span class="card-title" th:text="|[${news.category}] ${news.title}|">Card Title</span>
                    <p th:text="${news.newsAbstract}">Card Description</p>
                </div>
                <div class="card-action">
                    <a th:href="|/viewNews/${news.id}|">Details</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>