<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="|Error ${status}|">Error page</title>
    <link href="/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

<div class="row">
    <h1 class="center teal lighten-2 white-text" th:text="|Error ${status}|">Error</h1>
    <p class="col s12 center" th:text="|您所请求的页面找不到了······T_T|">
        The page is not available.
    </p>
</div>

</body>
</html>