<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-
scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="/css/materialize.css"
          type="text/css" rel="stylesheet" media="screen,projection"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>View News</title>
</head>
<body>

Hello, this is all news.
<ul class="container" th:each="news:${newsList}">
   <li th:text="${news.title}">NewsTitle</li>
   <li th:text="${news.url}">NewsUrl</li>
   <li th:text="${news.category}">NewsCategory</li>
   <br/>
</ul>

</body>
</html>