<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>sign up</title>
</head>
<body>

<div class="container" layout:fragment="content">


    <!--Breadcrumb-->
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="breadcrumb">首页</a>
                    <a class="breadcrumb">注册</a>
                </div>
            </div>
        </nav>
    </div>

    <div id="errMsg" class="row card-panel red lighten-2" th:if="${error}">
        <span class="card-title" th:text="${error}"></span>
    </div>

    <div class="row">
        <form action="/signup" method="post" class="col s12">
            <h4>注册成为新闻网会员</h4>

            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input class="validate" th:field="${userForm.name}" id="userName" type="text" required="required" data-length="12"/>
                    <label for="userName">用户名</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">lock</i>
                    <input class="validate" th:field="${userForm.password}" id="password" type="password" required="required"/>
                    <label for="password">密码</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">lock</i>
                    <input class="validate" th:field="${userForm.confirmPassword}" id="confirmPassword" type="password" required="required"/>
                    <label for="confirmPassword">确认密码</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">sentiment_very_satisfied</i>
                    <select id="sexOptions">
                        <option>男</option>
                        <option>女</option>
                    </select>
                    <label>性别</label>
                    <input id="sex" th:field="${userForm.sex}" hidden="hidden" value=""/>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input id="birthDate" type="text" th:field="${userForm.birthDate}" class="datepicker"/>
                    <label for="birthDate">出生日期</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">work</i>
                    <input class="validate" th:field="${userForm.profession}" id="profession" type="text" required="required"/>
                    <label for="profession">职业</label>
                </div>
                <!--<div class="input-field col s12 m6">-->
                    <!--<i class="material-icons prefix">location_city</i>-->
                    <!--<input class="validate" th:field="${userForm.area}" id="area" type="text" required="required"/>-->
                    <!--<label for="area">地区</label>-->
                <!--</div>-->
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">location_city</i>
                    <select id="areaOptions">
                        <option th:each="city:${cities}" th:text="${city}">城市</option>
                    </select>
                    <label>地区</label>
                    <input id="area" type="text" th:field="${userForm.area}" hidden="hidden" value=""/>
                </div>
            </div>
            <div class="row">
                <!--<div class="input-field col s12 m6">-->
                    <!--<i class="material-icons prefix">stars</i>-->
                    <!--<input class="validate" th:field="${userForm.interests}" id="interests" placeholder="以英文,分隔" type="text" required="required" pattern="(.*,)*"/>-->
                    <!--<label for="interests">兴趣</label>-->
                <!--</div>-->
                <div class="input-field col s12">
                    <i class="material-icons prefix">stars</i>
                    <div id="chips" class="chips chips-initial chips-placeholder chips-autocomplete"></div>
                    <input id="interests" th:field="${userForm.interests}" type="text" value="" hidden="hidden"/>
                </div>
            </div>
            <div class="row center">
                <button id="submitUser" type="submit" name="submitUser" onclick="acquire()"
                        class="btn waves-effect waves-light teal lighten-2">注册为新闻网会员<i class="material-icons right">verified_user</i></button>
            </div>
        </form>
    </div>

</div>

<script layout:fragment="script">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            yearRange:100,
            format:'yyyy-mm-dd',
            maxDate:new Date(),
            defaultDate:new Date(),
            setDefaultDate:true,
            i18n:{
                cancel:'取消',
                done:'确定',
                months:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                monthsShort:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                weekdaysShort:['周日','周一','周二','周三','周四','周五','周六'],
                weekdaysAbbrev:['日','一','二','三','四','五','六']
            }
        });
        $('select').formSelect();
        $('input#userName').characterCounter();
        $('#chips').chips({
            placeholder: '添加兴趣标签',
            secondaryPlaceholder: '+再来一个',
            autocompleteOptions: {
                data: {
                    '公益':null,
                    '滚动':null,
                    '军事':null
                }
            },
            onChipAdd: function (a,b) {
                var chipContent = b.innerText;

                var $ints = $('#interests');
                $ints.attr("value", $ints.attr("value") + chipContent.substring(0, chipContent.length - 5) + ",");

            },
            onChipDelete: function () {
                var $ints = $('#interests');
                var last = $ints.attr("value").lastIndexOf(",",$ints.attr("value").length-2);
                if (last ===-1) {
                    $ints.attr("value","");
                } else {
                    $ints.attr("value",$ints.attr("value").substring(0,last+1));
                }
            }
        });
    });

    function getSex() {
        var option = $('#sexOptions').find('option:selected');
        $('#sex').attr('value',option.text());
    }
    function getArea() {
        var option = $('#areaOptions').find('option:selected');
        $('#area').attr('value',option.text());
    }
    function acquire() {
        getSex();
        getArea();
    }
</script>
</body>
</html>